<!DOCTYPE html
  PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">

<head>
  <title>MovieHunter</title>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
</head>

<body>
  <!-- HEADER -->
  <header class="header" id="myHeader">
    <nav class="navbar navbar-expand-sm navbar-light my-nav">
      <div class="col-md-3 col-sm-4">
        <a class="navbar-brand" routerLink='/' linkActive='active'>Movie Times</a>
      </div>
      <div class="col-md-7 col-sm-5">
        <button class="navbar-toggler d-lg-none" type="button" data-toggle="collapse" data-target="#collapsibleNavId"
          aria-controls="collapsibleNavId" aria-expanded="falxse" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="collapsibleNavId">
          <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
            <li class="nav-item">
              <a class="nav-link" routerLink='/home' routerLinkActive="active">Home</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" routerLink='/movie-list' routerLinkActive="active">Movies</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" routerLink='/contact' routerLinkActive="active">contact</a>
            </li>
          </ul>
        </div>
      </div>
      <div class="col-md-2 col-sm-3">
        <div class="account">
          <div class="sign-in ">
            <ul>
              <li class="nav-item">
                <a class="nav-link" routerLink='/sign-in' routerLinkActive="active">Sign In</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" routerLink='/sign-up' routerLinkActive="active">Sign Up</a>
              </li>
            </ul>
          </div>
          <div class="sign-out account_deactived">
            <a class="btn btn-sign-out">
              <i class="fa fa-user-o"></i>
              Sign Out
            </a>
          </div>
        </div>
      </div>
    </nav>
  </header>

  <div class="movie-wrap">
    <router-outlet></router-outlet>
  </div>

  <footer>

  </footer>

</body>

</html>